.sidebar {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  overflow-y: auto;
}

.categoria {
  background: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.15s ease;
}

.categoria:hover {
  border-color: #d80000;
  color: #d80000;
}

.ativa {
  background: #d80000;
  color: white;
  font-weight: 700;
}

.ativa:hover {
  color: white;
}
